/* Imports
----------------------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100);

/* Global Styles
----------------------------*/
.jumbotron-fluid {
  background: rgb(104, 122, 128);
  color: white;
  padding: 100px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
#title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.title {
  text-align: center;
}
p {
  font-family: inherit;
  font-weight: 100;
}
.submit-btn {
  color: rgb(40, 40, 40);
  background: rgb(185, 198, 202);
  border-radius: 5px;
  outline: none;
}
.submit-btn:focus {
  outline: none
}
label, legend, #improve-label {
  text-align: right;
}
span {
  color: rgb(255, 137, 137);
  font-weight: 400;
  font-size: 1.15em;
}